<!DOCTYPE html>
<html lang="es" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Gestión de Tienda</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <div class="btn-group">
                    <button
                            class="btn btn-secondary dropdown-toggle"
                            type="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                    >
                        <img src="/images/amburguesa.svg" alt="Menú" class="hamburguesa-icon"/>
                    </button>
                    <ul class="dropdown-menu">
                        <li sec:authorize="hasRole('Admin')">
                            <button type="button" class="dropdown-item" onclick="location.href='/start/add'">Nuevo
                                Producto
                            </button>
                        </li>
                        <li sec:authorize="hasRole('Admin')">
                            <button id="toggleListado" class="dropdown-item">Cambiar Estado</button>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <form th:action="@{/start/logout}" method="post" class="ms-auto">
                                <button type="submit" class="dropdown-item">
                                    Cerrar sesión
                                </button>
                            </form>
                        </li>
                    </ul>
                </div>
                <h1 sec:authentication="name" class="navbar-brand fw-bold"></h1>
            </div>
        </nav>

        <div
                id="notification-toast"
                class="toast align-items-center text-white bg-success border-0 position-fixed bottom-0 end-0 m-3"
                role="alert"
                aria-live="assertive"
                aria-atomic="true"
                th:if="${success}"
        >
            <div class="d-flex">
                <div class="toast-body">
                    <span th:text="${success}"></span>
                </div>
                <button
                        type="button"
                        class="btn-close btn-close-white me-2 m-auto"
                        data-bs-dismiss="toast"
                        aria-label="Close"
                ></button>
            </div>
        </div>

        <div id="productosContainer">
            <div th:replace="fragments/productos :: productosTable"></div>
        </div>
    </div>

    <div class="card-footer text-danger text-center" th:if="${error}">
        <p th:text="${error}"></p>
    </div>

    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-S09PlsURuqPH49oZ7m4IltUpzzI2spZ6XGJ9QYXiKwLDRKK21wZWYqK7qreU53C0"
            crossorigin="anonymous"
    ></script>
    <script src="/js/EventsProducts.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const toastEl = document.getElementById("notification-toast");
            if (toastEl) {
                const toast = new bootstrap.Toast(toastEl);
                toast.show();
            }
        });
    </script>
</body>
</html>
