<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="productosTable">
  <table class="table table-striped table-hover table-bordered">
    <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Precio</th>
      <th>Stock</th>
      <th>Estado</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="producto : ${productos}">
      <td th:text="${producto.idProducto}"></td>
      <td th:text="${producto.nombre}"></td>
      <td th:text="${producto.descripcion}"></td>
      <td th:text="${producto.precio}"></td>
      <td th:text="${producto.stock}"></td>
      <td th:text="${producto.estado}"></td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
